<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Details</title>

    <link th:href="@{styles/details.css}" rel="stylesheet"/>

    <script th:src="@{scripts/details.js}"></script>
    <script th:src="@{https://maps.googleapis.com/maps/api/js(key=${@environment.getProperty('app.google-maps.key')}, libraries='places', callback='initMap')}"
            async defer></script>
</head>

<body>

<div layout:fragment="content" class="container-fluid m-0 m-auto p-sm-1 p-md-5">

    <div class="container">
        <nav class="navbar navbar-expand navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="history.back()">Return</a>
                </li>
                <li class="nav-item active" th:if="${canApply}">
                    <a class="nav-link" th:href="@{/signUpForTournament(id=${tournament.id})}">Apply</a>
                </li>
                <li class="nav-item active" th:if="${canEdit}">
                    <a class="nav-link" th:href="@{/edit(id=${tournament.id})}">Edit</a>
                </li>
            </ul>
        </nav>

        <h1 class="font-weight-light mt-4 mb-0">
            <span th:text="${tournament.name}" class="text-left"></span>
            <i class="fas fa-male float-right"></i>
            <span th:text="${tournament.participants.size() + '/' + tournament.maxParticipants + ' '}"
                  class="float-right"></span>
        </h1>
        <hr class="mt-2 mb-2">
        <h3 class="font-weight-light text-center text-lg-left mt-2 mb-2 mr-auto"
            th:text="${tournament.discipline + ' tournament organized by ' + tournament.organizer.firstName + ' ' + tournament.organizer.lastName}"></h3>
        <h3 class="font-weight-light text-center text-lg-left mt-2 mb-2 mr-auto"
            th:text="${tournament.eliminationMode + ' elimination'}"></h3>


        <div class="tournament-container" th:if="${tournament.ladder}">
            <div class="tournament-headers">
                <h3 th:each="round : ${rounds}" th:text="${'Round of ' + 2*round}"></h3>
            </div>
            <div class="tournament-brackets">
                <ul th:class="${'bracket'}" th:each="matches : ${roundMatches}">
                    <div th:each="match : ${matches}"
                         th:if="${(match.getMatch().hasEmail(#authentication.getPrincipal())
                            && match.getMatch().getUser1() != null
                            && match.getMatch().getUser1() != null
                            && !match.match.isClosed())}"
                            class="modal" tabindex="-1" role="dialog" id="winModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Enter result</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="modal-text" th:text="${match.getMatch().get1stUserString()
                                        + ' vs ' + match.getMatch().get2ndUserString()}">
                                    </h3>
                                    <span class="modal-text" th:text="${'Did you win?'}"></span>
                                </div>
                                <div class="modal-footer">
                                    <form th:action="@{/won}" th:method="post" th:object="${winInfo}">
                                        <input type="hidden" name="tournamentId" th:value="${tournament.id}">
                                        <input type="hidden" name="matchId" th:value="${match.match.id}">
                                        <input type="hidden" name="noMatch" th:value="${match.id}">
                                        <input type="hidden" name="won" value="true">
                                        <button type="submit" class="btn btn-warning" >Yes</button>
                                    </form>
                                    <form th:action="@{/won}" th:method="post" th:object="${winInfo}">
                                        <input type="hidden" name="tournamentId" th:value="${tournament.id}">
                                        <input type="hidden" name="matchId" th:value="${match.match.id}">
                                        <input type="hidden" name="noMatch" th:value="${match.id}">
                                        <input type="hidden" name="won" value="false">
                                        <button type="submit" class="btn btn-warning" >No</button>
                                    </form>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li
                            th:if="${(match.getMatch().hasEmail(#authentication.getPrincipal())
                            && match.getMatch().getUser1() != null
                            && match.getMatch().getUser1() != null
                            && !match.match.isClosed())}"
                            th:each="match : ${matches}"
                            class="team-item my-item"
                            th:attr="match_id=${match.getId()}"
                            data-toggle="modal"
                            data-target="#winModal">
                        <span th:text="${(match.getMatch().get1stUserString())}"></span>
                        <h3 th:text="${match.getMatch().getWinnerString()}"></h3>
                        <span th:text="${(match.getMatch().get2ndUserString())}"></span>

                    </li>
                    <li
                            th:if="${!(match.getMatch().hasEmail(#authentication.getPrincipal())
                            && match.getMatch().getUser1() != null
                            && match.getMatch().getUser1() != null
                            && !match.match.isClosed())}"
                            th:each="match : ${matches}"
                            th:class="${'team-item ' + (match.getMatch().hasEmail(#authentication.getPrincipal())
                            && !match.match.isClosed() ? 'my-item': '')}"
                            th:attr="match_id=${match.getId()}">
                        <span th:text="${(match.getMatch().get1stUserString())}"></span>
                        <h3 th:text="${match.getMatch().getWinnerString()}"></h3>
                        <span th:text="${(match.getMatch().get2ndUserString())}"></span>
                    </li>
                </ul>
            </div>
        </div>

        <h1 class="font-weight-light mt-4 mb-0">Deadlines</h1>
        <hr class="mt-2 mb-2">
        <h3 class="font-weight-light text-center text-lg-left mt-2 mb-2 mr-auto"
            th:text="${'Application deadline: ' + #dates.format(tournament.applicationDeadline, 'dd-MM-yyyy HH:mm')}"></h3>
        <h3 class="font-weight-light text-center text-lg-left mt-2 mb-2 mr-auto"
            th:text="${'Tournament time: ' + #dates.format(tournament.time, 'dd-MM-yyyy HH:mm')}"></h3>

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Place</h1>
        <hr class="mt-2 mb-2">
        <h3 class="font-weight-light text-center text-lg-left mt-2 mb-2" th:text="${tournament.place}"></h3>
        <div class="form-group">
            <div class="input-group">
                <div id="map" th:attr="query=${tournament.place}"></div>
            </div>
        </div>

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h1>
        <hr class="mt-2 mb-5">
        <div class="row text-center text-lg-left">
            <div class="col-lg-3 col-md-4 col-6" th:each="imgNo : ${imgNos}">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail"
                         th:src="@{images/{id}/{imgNo}(id=${tournament.id}, imgNo=${imgNo})}" alt="">
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>
