<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>List</title>

    <link th:href="@{styles/list.css}" rel="stylesheet"/>

    <script th:src="@{scripts/list.js}"></script>
</head>
<body>

<div layout:fragment="content" class="container-fluid m-0 m-auto p-sm-1 p-md-5">

    <form class="form" action="#" th:action="@{/list}" method="get">
        <div class="form-group">
            <div class="input-group">
                <input name="search" class="form-control" th:value="${param.search}" placeholder="Search" type="text">
                <div class="input-group-append">
                    <span class="input-group-text"> <i class="fa fa-search"></i> </span>
                </div>
            </div>
        </div>
    </form>

    <table id="listTable" class="table" border="1">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Discipline</th>
                <th scope="col">Place</th>
                <th scope="col">Application Deadline</th>
                <th scope="col">Tournament Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tournament : ${tournaments}" th:href="@{/details(id=${tournament.id})}" class="clickableRow">
                <th scope="row" th:text="${tournament.id}"></th>
                <td th:text="${tournament.name}"></td>
                <td th:text="${tournament.discipline}"></td>
                <td th:text="${tournament.place}"></td>
                <td th:text="${#dates.format(tournament.applicationDeadline, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#dates.format(tournament.time, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage - 1 >= 1}">
                <a class="page-link" th:href="@{/list(page=${currentPage - 2})}" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/list(page=${currentPage - 3})}" th:if="${currentPage - 2 >= 1}" th:text="${currentPage - 2}"></a></li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/list(page=${currentPage - 2})}" th:if="${currentPage - 1 >= 1}" th:text="${currentPage - 1}"></a></li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/list(page=${currentPage - 1})}" th:text="${currentPage}"></a></li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/list(page=${currentPage})}" th:if="${currentPage + 1 <= totalPages}" th:text="${currentPage + 1}"></a></li>
            <li class="page-item"><a class="page-link" href="#" th:href="@{/list(page=${currentPage + 1})}" th:if="${currentPage + 2 <= totalPages}" th:text="${currentPage + 2}"></a></li>
            <li class="page-item" th:if="${currentPage + 1 <= totalPages}">
                <a class="page-link" th:href="@{/list(page=${currentPage})}" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
